<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<h1>Edit product</h1>
<p>
    <a href="/products">product list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/products/edit}" th:object="${product}" method="post">
    <input th:type="hidden" name="id" th:value="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" th:field="*{name}" th:value="${product.name}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="price" th:field="*{price}" th:value="${product.price}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" name="description" th:field="*{description}" th:value="${product.description}"/></td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input type="text" name="quantity" th:field="*{quantity}" th:value="${product.quantity}"/></td>
        </tr>
        <tr>
            <td>Date time:</td>
            <td><input type="text" name="datetime" th:field="*{datetime}" th:value="${product.datetime}"/></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select name="province">
                    <option th:each="c : ${categories}"
                            th:value="${c.id}"
                            th:text="${c.name}"
                            th:selected="(${c.id} == *{category.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update product"></td>
        </tr>
    </table>
</form>
</body>
</html>